<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pranit Classes | Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<body class="login-body">

<div class="background">

<span></span>
<span></span>
<span></span>
<span></span>

</div>

<div class="login-container">

<div class="login-card" id="loginCard">

<h2 class="login-title">Student Login</h2>

<div class="input-group">
<label>Email or Mobile</label>
<input type="text" id="loginId" placeholder="Enter Email or Mobile">
</div>

<div class="input-group">
<label>Password</label>
<input type="password" id="loginPassword" placeholder="Enter Password">
</div>

<button class="login-btn" onclick="loginUser()">Login</button>

<p class="login-footer">Welcome to <b>Pranit Classes</b></p>

</div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
